.social-login
    button.social-login__Github
        a(href=routes.gitHub)
            span
                i.fab.fa-github           
            | Continue with Github
    button.social-login__facebook
        span
            i.fab.fa-facebook
        | Continue with Facebook
