extends layouts/main

block content
    .from-contaniner
        form(action=`videos$(routes.upload}`, method = "post")
            label(for="file") Video File
            input(tpye="file",id = "file", name="file",required = true)
            input(type="text", palaceholder = "Title", name = "title",required = true)
            textarea(name = "description", palaceholder = "Description")
            input(type = "submit", value="Upload Video")